#Container{
width:900px;
margin: auto;
    height: auto;
    background-color: bisque;


}

#header {
width:900px;
height: 200px;
background-image: url(img/08bd8c2.png)
}

#menu {
height:40px;
width:700px;
text-transform:uppercase;
font-family: Arial, sans-serif;
font-weight: bold;
font-size: 14px;
list-style-type:none;
padding: 0;
background-color: cyan;
margin-top:18%;
border-top:2px solid cyan;
border-bottom:2px solid cyan;
border-radius: 8px;
float: right;

}
#menu ul {
    
    list-style-type: none;
}
    
 
#menu li {
    float: left;
    margin-top:0;
   
}
#menu li a {
    text-decoration: none;
    color: #666;
    display: block;
    padding: 0 25px;
    line-height: 20px;
     
}

#menu li a:hover, #menu li.ative a {
    background-color: #7CFC00;
    border-bottom: 2px solid #DDD;

    position: inherit;
    clear: both;
    background-image: url(img/08bd8c2.png)

}

#sidebar {
 height:600px;
    width: 900px;
    float: left;
    background-color:aliceblue;
    
    
}
#sidebar figure {
    display: inline-table;
    border-spacing: 10px;
    width:2%;
    margin:0;
}
#sidebar figure img {
margin: 0 0 5px;
height: 250px;
width: 270px;
}
#topsidebar {
    height: 100px;
    width: 300px;
    margin-top: 20px;
    top: inherit;
    margin-bottom: 60px;
    float:left;
    display: inline-block;
    background-color: #7CFC00;
    border-radius: 8px;

}
#sidebar h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color:aqua;
}
#sidebar p{
    font-family: sans-serif;
     text-transform:lowercase;
}

#middlesidebar{
  height: 100px;
    width: 300px;
    margin-bottom: 60px;
    clear: left;
    border-radius: 8px;
    display: inline-block;
    float:left;
    background-color: #00FFFF;
    border-radius: 8px;
}

#bottomsidebar{
    
     height: 100px;
    width: 300px;
    float:left;
    clear: left;
     display: inline-block;
    background-color: #FF4500;
    border-radius: 8px;
}
h2 {
text-transform:uppercase;
font-family: Arial, sans-serif;
font-weight: bold;
font-size:40px;
text-align:inherit;
padding: 10px 10px 10px 10px;
 color:#f2f2f2;
text-decoration: none;
text-shadow: 2px 4px 4px #292929;
    
}

#footer {
width:900px;
    height:100px;
    background-color: dimgray;
    clear:both;

}
#footer p {
    font-family: fantasy;
    font-size: 15px;
    padding-left: 30px;
    text-align: left;
    color:cornsilk;
    position: absolute;
}
#footer ul{
   list-style-type: none;

}

#footer li {
    text-align:right;
    padding-right: 30px;
    margin-bottom: 5px;
    display: block;
    padding-top: 5px;
}
